<html>
  <head>
      <title>Task</title>
  </head>
  <body>
    <div class="empty1"></div>
    <!-- Navbar text is dark and background is light -->
    <nav class="navbar navbar-expand-lg navbar-custom ">
      <a class="navbar-brand" href="#">LOGO</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <img height="25" width="25" src="assets/images/menu.png">
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav navbar-nav-custom mr-auto">
          <li class="nav-item nav-item-custom active">
            <a class="nav-link nav-link-custom1" href="#">Home</a>
          </li>
          <li class="nav-item nav-item-custom">
            <a class="nav-link nav-link-custom" href="#">How It Works</a>
          </li>
          <li class="nav-item nav-item-custom">
            <a class="nav-link nav-link-custom" href="#">Properties</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle-custom" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Resourse
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item nav-item-custom">
            <a class="nav-link nav-link-custom" href="#">Dashboard</a>
          </li>
          <li class="nav-item nav-item-custom">
            <a class="nav-link nav-link-custom" href="#">How It Works</a>
          </li>
          <li class="nav-item nav-item-custom">
            <a class="nav-link nav-link-custom" href="#">SIGN IN</a>
          </li>
          <li class="nav-item nav-item-custom">
            <a class="nav-link nav-link-custom2" href="#">SIGN UP</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container" style="margin-top: 20px">
      <div class="row">
        <div class="col-lg-6">
          <p class="p3">
                  Want an easier way to invest in Property?
          </p>
          <p class="p2">
            "India's 1st Fractional Property
            Owenership Platform with AI &
            Blockchain Technologies"
          </p>
          <p class="p2">
            XYZ is an award-winnig Platform that
            provides a simple and low cost way to
            access the property market.
          </p>
          <div>
            <button class="dbtn">
              View Properties
            </button>
          </div>
        </div>
        <div class="col-lg-5">
            <img class="img1" src="assets/images/build1.jpg">
        </div>
      </div>
    </div>
    <div class="container-11 new1" style="background-color: whitesmoke;margin-top: 10px">
      <div style="text-align: center"><button class="btn2"></button></div>
      <div style="text-align: center;margin-top: 10px;"><p class="how1">How It Works</p></div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
        <div class="col">
            <button class="num1">1</button>
            <p class="p1">Choose your Property,or
              use Smart Invest</p>
        </div>
        <div class="col">
            <button class="num1">2</button>
            <p class="p1">Buy Bricks</p>
        </div>
        <div class="col">
            <button class="num1">3</button>
            <p class="p1">Earn net rental
              income per Bricks</p>
        </div>
        <div class="col">
            <button class="num1">4</button>
            <p class="p1">Sell your Bricks to earn
              any capital returns</p>
        </div>
      </div>
      <div style="text-align: center"><button class="dbtn1">Learn How it Works</button></div>
    </div>
    <div class="container-fluid" style="margin-top: 10px">
      <div style="text-align: center"><button class="btn2"></button></div>
      <div style="text-align: center;margin-top: 10px;"><p class="how1">XYZ Properties</p></div>
      <div class="row">
        <div class="col-md-6">
            <p class="p4">
              Choose which property to buy Bricks in (or use Smart Invest).
              Our range of properties is carefully selected by our specialist
              Property Team based on growth potential.
            </p>
            <p class="p5">Property details include:</p>
            <p class="p6"><img class="img3" src="assets/images/arrow.png">Historical suburb growth</p>
            <p class="p6"><img class="img3" src="assets/images/arrow.png">Independent property valuations</p>
            <p class="p6"><img class="img3" src="assets/images/arrow.png">Forecasted cash flows</p>
            <p class="p6"><img class="img3" src="assets/images/arrow.png">Estimated net rental income and yield</p>
            <div style="text-align: center"><button class="dbtn2">Meet the Property Team</button></div>
        </div>
        <div class="col-md-6">
          <img class="img2" src="assets/images/staf.jpg">
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div style="text-align: center"><button class="btn2"></button></div>
      <div style="text-align: center;margin-top: 10px;"><p class="how1">Why Choose XYZ</p></div>
      <div class="row">
          <div class="col-lg-3">

          </div>
          <div class="col-md-5">
            <div class="trip1">
              <p class="trip2">Stringent Criteria</p>
              <p class="trip3">8-10% yields with blu chip tenants</p>
            </div>
            <div class="trip1">
              <p class="trip2">Rigorous Due-Diligence</p>
              <p class="trip3"> We use Tier 1 law firms to identify and mitigate legal risks</p>
            </div>
            <div class="trip1">
              <p class="trip2">Institutional Analysis</p>
              <p class="trip3">You get access to institutional grade analysis</p>
            </div>
            <div class="trip1">
              <p class="trip2">High Listing Standards</p>
              <p class="trip3"> We list less than 2% of investments we analyse</p>
            </div>
          </div>
          <div class="col-lg-3">
          </div>
      </div>
      <div style="text-align: center"><button class="btn2"></button></div>
    </div>
    <div class="container-fluid d" style="border-radius: 10px;border-color:black;background-color: whitesmoke;margin-top: 50px;box-shadow: rgba(0, 0, 0, 0.479) 2px 2px 2px 2px;padding: 20px" >
      <div class="row">
        <div class="col-sm d1">

            <p class="per">FRACTIONAL REAL-ESTATE <a class="anc">14.7 %</a> </p>
            <p class="per">Equity     <a class="anc">12.05%</a> </p>
            <p class="per">PPT <a class="anc">7-8%</a> </p>
            <p class="per">Deht Mutual Funds <a class="anc">7.5%</a> </p>
            <p class="per">Bank FD <a class="anc">6.8%</a> </p>

        </div>
        <div class="col-sm d2">

              <p class="per1"><span>&#8377; 256</span></p>
              <div>
                <p class="per11">Monthly</p>
                <p class="per12">Yearly</p>
              </div>

        </div>
        <div class="col-sm d3">

              <p class="per3">Amount Invested</p>
              <input class="ran1" type="range">
              <p class="per3">With an intrest rate of <span>4.89 %p.a</span></p>
              <input class="ran1" type="range">
              <p class="per3">With a loan tenure of</p>
              <p class="per4"><input class="ran2" type="radio">Monthls <input class="ran2" type="radio">Years <span class="ran3">2Year</span></p>
              <input class="ran1" type="range">

        </div>
      </div>
    </div>

    <div class="container" style="margin-top: 50px">
        <div style="text-align: center"><button class="btn2"></button></div>
        <div style="text-align: center;margin-top: 10px;"><p class="how1">What our members are saying about us!</p></div>
        <div class="row">
            <div class="col demo11">
                <div>
                    <button class="demobtn1"><</button>
                </div>
            </div>
            <div class="col-6 demo12" style="border-color:black;background-color: whitesmoke;box-shadow: rgba(0, 0, 0, 0.479) 2px 2px 2px 2px;">
              <div>
                  <img class="dimg1" src="assets/images/emp.jpg">
                  <p class="how2">" Greatway of getting int...</p>
                  <p class="demop">Great way to getting into property
                    investment easy to use,low entry
                    cost.
                  </p>
                  <p class="demop1">Marasat</p>
                </div>
            </div>
            <div class="col demo11">
              <div>
                  <button class="demobtn2"> > </button>
              </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="background-color: #1d1d21;color: white;margin-top: 20px">
        <div style="height: 50px;width: 90%"></div>
        <div class="row">
          <div class="col-lg-4">
              <p class="how3">
                Follow Our News
                and updates
              </p>
              <p><input class="finput1" type="email" placeholder="Email">
                <button class="fbtn1" type="submit">Submit</button>
              </p>
              <p class="fp1">For media Inquiries</p>
          </div>
          <div class="col-lg-8">
              <p class="flogo">LOGO</p>
              <p class="fimgd">
                  <img class="fimg1" src="assets/images/icons/facebook.png">
                  <img class="fimg1" src="assets/images/icons/Twitter.png">
                  <img class="fimg1" src="assets/images/icons/instagram%20(1).png">
                  <img class="fimg1" src="assets/images/icons/whatsapp.png">
              </p>
              <div class="fpwebsite">
                  <p class="web">Investing.com</p>
                  <p class="web">Forbes</p>
                  <p class="web">investors</p>
                  <p class="web">Yahoo</p>
                  <p class="web">coindesk</p>
              </div>
          </div>
        </div>
        <div><button class="f2b1"></button></div>
        <div class="row">
          <div class="col-lg-3">
            <p class="f2p1">Quick Links </p>
            <p class="f2p2"> <span> &raquo; </span> Privacy Policy </p>
            <p class="f2p2"> <span> &raquo; </span> FAQ </p>
            <p class="f2p2"> <span> &raquo; </span> Terms of Use </p>
            <p class="f2p2"> <span> &raquo; </span> Legal </p>
            <p class="f2p2"> <span> &raquo; </span> About Us </p>
          </div>
          <div class="col-lg-3">
            <p class="f2p1">Contact Info</p>
            <p class="f2p3">
              CIE Cloud City, Vindhya C4,
              Gachibowli, Hyderabad,
              Telangana 500032.
            </p>
          </div>
          <div class="col-lg-6">
            <p class="f2p4">
              "Forecasts may not be achieved and are not a reliable indicator of future performance.
              The advice provided to you is general advice only. It has been prepared and presented without
              taking into account your personal objectives, financial situation or needs. Before making any
              decision in relation to BERRY or any products offered by BERRY you should read the Product Disclosure
              Statement (PDS) and consider whether BRICK-BERRY is right for you. BERRY products are issued by Innovations
              Pvt Ltd (CIN: U72900TG2019PTC136512 )( PAN: AANCM0416E ). Neither -BERRY nor Innovations Pvt Ltd, guarantees
              any rate of return or the capital value or return of any money invested. Past performance referred to is no
              guarantee of future performance of the relevant financial product and is not a rellable indicator of future performance.
            </p>
            <p class="f2p5">Copyright &#169;2020 Innovations Pvt Ltd</p>
          </div>
        </div>
    </div>
  </body>
</html>
